@import "compass";
@import "compass/css3/user-interface";
@import "compass/reset";


/* Colors */
$orange1: #FF8330;
$darkGray: #222;

/* Defaults */

/* Mixins */

/* Elements */
*{
	@include box-sizing(border-box);
}

body { 
	background: #333;
	font-family: arial, helvetica, sans-serif;

}

a {
	color: #fff;
	text-decoration: none;
	@include transition-duration(.5s);
}

a:hover {
	text-decoration:none;
}

