.featured-container {
	width: 960px;
	margin: 0 auto;
}

.player-container {
	width: 960px;
	float: left;
	position: relative;
	margin: 10px 0 0 0;
	
	.track-container {
		width: 420px;
		height: 250px;
		float: left;
		position: relative;
		overflow: hidden;
	}

	.track-list{
		position: absolute;
		@include transition(all, .5s);

		.track{
			float:left;	
			position: relative;
			height:250px;
			width: 250px;
			cursor: pointer;
			opacity: .7;
			@include transition(all, .5s);
			margin: 0 15px;

			a {
				width: 100%;
				height: 100%;
				float: left;
			}
		}

		.track:hover{
			opacity: 1;
		}

		img{
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 3px;
		}


		.track-play-btn{
			border: 15px solid #fff;
			color: #fff;
			font-family: 'icon';
			font-size: 130px;
			position: absolute;
			width: 125px;
			height: 125px;
			@include border-radius(100px);
			z-index: 3;
			top: 50%;
			left: 50%;
			margin: -77px 0 0 -77px;
			opacity: .7;

		}

		.track.selected {
			opacity: 1;
		}


		.selected:after{
			content: 'Current Track';
			background: rgba(0,0,0,.8);
			color: #fff;
			position: absolute;
			left: 20px;
			top: 20px;
			text-transform: uppercase;
			font-family: arial;
			padding: 8px 8px 5px 8px;
			@include border-radius(5px);
			border-bottom: 1px solid rgba(255,255,255, .7);

		}
	}


	// .current-container { 
	// 	width: 250px;
	// 	height: 250px;
	// 	margin: 0 auto;
	// 	@include border-radius(20px);
	// 	@include single-box-shadow(rgba(0,0,0,.8), 0,0, 20px, 0, inset);
	// }
	
}

.next {
	font-family: 'icon';
	float: right;
	margin: 20px 2px 15px 10px;
	@include transition(all, .5s);
	background: #222;
	color: #111;
}

.prev {
	font-family: 'icon';
	float: left;
	margin: 20px 10px 15px 0;
	@include transition(all, .5s);
	background: #222;
	color: #111;
}

.next:hover, .prev:hover {
	opacity: 1;
}

