.nav-list {
	width: 800px;
	list-style:none; 
	float: left;
	margin: 80px 0 60px 30px;
	
	li {
		float: left;
		margin: 0 10px 0 0
	}

	a {

		float: left;
		//margin: 7px 0 0 10px;
		padding: 10px 15px;
		color: #1A1A1A;
		font-size: 24px;
		font-weight: bold;
		text-transform: uppercase;
		background: #333; /* Old browsers */
		border: 1px solid #222;
		text-shadow: 0 1px #555;
		@include border-radius(5px);
		@include transition(all, .2s);
		@include single-box-shadow(rgba(0,0,0,.8), 0, 0, 8px, 0, inset);
		border-bottom: 1px solid #777;


	}



	a:hover {
		color: #FF8330;
		text-shadow: 0 0 5px rgba(252, 123, 37,.9);
		border-bottom: 1px solid #333;
		background: #5f5f5f;
		@include single-box-shadow(none);
		@include background(linear-gradient(top, #999 0%, #898989 1%, #454545 2%, #454545 97%, #111 100%));

	}

	a:active {
		color: #FF8330;
		background: #404040; /* Old browsers */
		text-shadow: 0 0 10px rgba(255, 149, 79,.9);
		border: 1px solid #333;
		@include single-box-shadow(rgba(0,0,0,.5), 0, 0, 8px, 0, inset);
		@include transition(all, .2s);
	}

	a.current {
			color: #FF8330;
			text-shadow: 0 0 5px rgba(252, 123, 37,.9);
			border-bottom: 1px solid #333;
			background: #5f5f5f;
			@include single-box-shadow(none);
			@include background(linear-gradient(top, #999 0%, #898989 1%, #454545 2%, #454545 97%, #111 100%));
		}
}