@import "compass";
@import "compass/css3/user-interface";
@import "compass/reset";


/* Colors */
$orange1: #FF8330;
$darkGray: #222;

/* Defaults */

/* Mixins */

/* Elements */
*{
	@include box-sizing(border-box);
}

body { 
	background: #ddd;
	font-family: arial, helvetica, sans-serif;
	height: 100%;

}

html {
	height: 100%;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	text-decoration:none;
}

