.controls-container {
	width: 100%;
	height: 60px;
	background: url(/images/layout/player-bg.jpg) #555;
	position: fixed;
	top: 0;
	@include box-shadow(rgba(0,0,0,.7) 0 2px 2px );
	border-bottom: 1px solid #333;
	border-top: 1px solid #999;
	z-index: 110;
}

.logo {
	font-family: 'skitz', arial;
	width: 45px;
	float: left;
	cursor: pointer;
	margin: 4px 0 0 10px;
	color: #1A1A1A;
	font-size: 52px;
	font-weight: bold;
	text-shadow: 0 1px #555;
	@include transition(all, .2s);

	&:hover {
		color: #FF8330;
		text-shadow: 0 0 25px rgba(252, 123, 37,.9);	
	}

}

.controls {
	width: 960px;
	height: 60px;
	margin: 0 auto;

	h2 {
		font-family: 'dots', arial;
		font-size: 16px;
		color: #fff;
		margin: 12px 0 0 3px;
		text-shadow: 0 0 8px #eee;
		letter-spacing: 1px;
		float: left;

	}

	#duration {
		font-family: 'dots', arial;
		font-size: 10px;
		color: #fff;
		margin: 20px 5px 0 0;;
		text-shadow: 0 0 8px #eee;
		letter-spacing: 1px;
		float: right;
	}

	.current-time {
		font-family: arial;
		font-size:12px;
		color: #fff;
	}

	.title-container {
		width: 785px;
		float: left;
		margin: 0 0 0 10px;
	}

	.tracking-container {
		background: rgba(0,0,0,.4);
		height: 16px;
		width: 100%;
		position: relative;
		float: left;
		margin: 4px 0 0 0;
		@include border-radius(2px);
		border-bottom: 1px solid #717171;
		border-top: 1px solid #000;
		border-left: 1px solid #444;
		overflow: hidden;
		cursor: pointer;
		@include user-select(none);
	}

	.marks-container {
	    height: 15px;
	    width: 100%;
	    position: relative;
	    
	    div{
    		left: 0;
		}
	}

	.progress-bar{
		height: 18px;
		width: 0;
		position: absolute;
		left: 0;
		top: -5px;
		overflow: hidden;
		font-family: 'dots', arial;
		font-size: 18px;
		color: #ff7921;
		text-shadow: 0 0 5px rgba(252, 123, 37, 0.9);
	}

	.loading-bar{
		height: 18px;
		width: 0;
		position: absolute;
		left: 0;
		top: -5px;
		overflow: hidden;
		font-family: 'dots', arial;
		font-size: 18px;
		color: #6b390a;
	}

	
}

.play-btn {
		font-family:'icon';
		width: 45px;
		padding: 9px 0 0 9px;
		height: 45px;
		float: left;
		cursor: pointer;
		margin: 7px 0 0 10px;
		color: #1A1A1A;
		border-radius: 5px;
		font-size: 24px;
		font-weight: bold;
		text-transform: uppercase;
		background: #333; /* Old browsers */
		border: 1px solid #222;
		text-shadow: 0 1px #555;
		@include transition(all, .2s);
		@include single-box-shadow(rgba(0,0,0,.8), 0, 0, 8px, 0, inset);
		border-bottom: 1px solid #777;
	}



.play-btn:hover {
	color: #FF8330;
	text-shadow: 0 0 5px rgba(252, 123, 37,.9);
	-webkit-box-shadow: none;
	border-bottom: 1px solid #333;
	background: #5f5f5f;
	@include background(linear-gradient(top, #999 0%, #898989 1%, #454545 2%, #454545 97%, #111 100%));
	
}

.play-btn:active{
	color: #FF8330;
	background: #404040; /* Old browsers */
	-webkit-box-shadow: inset 0 0 8px 0 rgba(0,0,0,.5);
	text-shadow: 0 0 10px rgba(255, 149, 79,.9);
	border: 1px solid #333;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-ms-transition: all .2s;
	-webkit-transition: all .2s;
	transition: all .2s;
	
}
