.contact-content {
	.contact-column-left {
		float: left;
		width: 200px;
		h1 {
			font-size: 32px;
			text-transform: uppercase;
			margin: 0 0 2px 0;
			font-family: 'dots', arial;
			text-shadow:0 0 4px #eee;

		}

		h2 {
			font-size: 18px;
			margin: 0 0 5px 0;
		}

		a {
			font-size: 12px;
			display: block;
		}

	}

	.contact-column-right {
		float: left;
		width: 500px;
		&>h2 {
			font-size: 28px;
			text-transform: uppercase;
			margin: 0 0 8px 0;
			font-family: 'dots', arial;
			text-shadow:0 0 4px #eee;
		}
		h3 {
			font-size: 18px;
			margin: 0 0 4px 0;
		}
		li {
			font-size: 12px;
			color: #fff;
			background: rgba(0, 0, 0, 0.4);
			padding: 15px;
			@include border-radius(2px);
			margin: 5px 0 15px 0;
			width: 520px;
			float: left;
			position: relative;

			&:before {
				content: " ";
				width: 4px;
				height: 100%;
				background: $orange1;
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		.content-left {
			float: left;
		}

		.bar {
			float: right;
		}

		.web-link {
			margin: 10px 0 0 0;
			float:left;
		}
	}
	
}