.controls-container {
	width: 100%;
	height: 60px;
	background: url(/images/layout/player-bg.jpg) #555;
	position: fixed;
	top: 0;
	@include box-shadow(rgba(0,0,0,.7) 0 2px 2px );
	border-bottom: 1px solid #333;
	border-top: 1px solid #999;
	z-index: 110;
}

.controls {
	width: 960px;
	height: 60px;
	margin: 0 auto;


	h2 {
		font-family: arial;
		font-size:12px;
		color: #fff;
		margin: 8px 0 0 13px;
		text-shadow: 0 0 6px #eee;

	}

	.current-time {
		font-family: arial;
		font-size:12px;
		color: #fff;
	}

	.title-container {
		width: 785px;
		float: left;
		margin: 0 0 0 10px;
	}

	.tracking-container {
		background: #222;
		height: 25px;
		width: 100%;
		position: relative;
		float: left;
		margin: 4px 0 0 0;
		@include border-radius(5px);
		border-bottom: 1px solid #888;
		border-top: 1px solid #000;
		border-left: 1px solid #444;
		overflow: hidden;
		cursor: pointer;
		@include user-select(none);
	}

	.marks-container {
	    height: 25px;
	    width: 100%;
	    position: relative;
	    
	    div{
    		left: 0;
		}
	}

	.progress-bar{
		height: 25px;
		width: 0;
		position: absolute;
		left: 0;
		top: 0;
		background: #e87122;
		border-radius: 5px;
		@include border-radius(5px);
		@include single-box-shadow(#9E4711, 0, 0, 1px, 1px, inset);
	}

	
}

.play-btn {
		font-family:'icon';
		width: 45px;

		height: 45px;
		float: left;
		cursor: pointer;
		margin: 7px 0 0 10px;
		color: #1A1A1A;
		border-radius: 5px;
		font-size: 24px;
		font-weight: bold;
		text-transform: uppercase;
		background: #333; /* Old browsers */
		border: 1px solid #222;
		text-shadow: 0 1px #555;
		@include transition(all, .2s);
		@include single-box-shadow(rgba(0,0,0,.8), 0, 0, 8px, 0, inset);
		border-bottom: 1px solid #777;
	}



.play-btn:hover {
	color: #FF8330;
	text-shadow: 0 0 5px rgba(252, 123, 37,.9);
	-webkit-box-shadow: none;
	border-bottom: 1px solid #333;
	background: #5f5f5f;
	@include background(linear-gradient(top, #999 0%, #898989 1%, #454545 2%, #454545 97%, #111 100%));
	
}

.play-btn:active{
	color: #FF8330;
	background: #404040; /* Old browsers */
	-webkit-box-shadow: inset 0 0 8px 0 rgba(0,0,0,.5);
	text-shadow: 0 0 10px rgba(255, 149, 79,.9);
	border: 1px solid #333;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-ms-transition: all .2s;
	-webkit-transition: all .2s;
	transition: all .2s;
	
}
