/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Base Styles */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Colors */
/* Defaults */
/* Mixins */
/* Elements */
/* line 15, ../sass/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, ../sass/_base.scss */
body {
  background: #333;
  font-family: arial, helvetica, sans-serif;
}

/* line 25, ../sass/_base.scss */
a {
  color: #fff;
  text-decoration: none;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 31, ../sass/_base.scss */
a:hover {
  text-decoration: none;
}

/* main navigation */
/* line 1, ../sass/_nav.scss */
.nav-list {
  width: 800px;
  list-style: none;
  float: left;
  margin: 80px 0 60px 30px;
}
/* line 7, ../sass/_nav.scss */
.nav-list li {
  float: left;
  margin: 0 10px 0 0;
}
/* line 12, ../sass/_nav.scss */
.nav-list a {
  float: left;
  padding: 10px 15px;
  color: #1A1A1A;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  background: #333;
  /* Old browsers */
  border: 1px solid #222;
  text-shadow: 0 1px #555;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all, 0.2s;
  -moz-transition: all, 0.2s;
  -o-transition: all, 0.2s;
  transition: all, 0.2s;
  -webkit-box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid #777;
}
/* line 34, ../sass/_nav.scss */
.nav-list a:hover {
  color: #FF8330;
  text-shadow: 0 0 5px rgba(252, 123, 37, 0.9);
  border-bottom: 1px solid #333;
  background: #5f5f5f;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #999999), color-stop(1%, #898989), color-stop(2%, #454545), color-stop(97%, #454545), color-stop(100%, #111111));
  background: -webkit-linear-gradient(top, #999999 0%, #898989 1%, #454545 2%, #454545 97%, #111111 100%);
  background: -moz-linear-gradient(top, #999999 0%, #898989 1%, #454545 2%, #454545 97%, #111111 100%);
  background: -o-linear-gradient(top, #999999 0%, #898989 1%, #454545 2%, #454545 97%, #111111 100%);
  background: linear-gradient(top, #999999 0%, #898989 1%, #454545 2%, #454545 97%, #111111 100%);
}
/* line 44, ../sass/_nav.scss */
.nav-list a:active {
  color: #FF8330;
  background: #404040;
  /* Old browsers */
  text-shadow: 0 0 10px rgba(255, 149, 79, 0.9);
  border: 1px solid #333;
  -webkit-box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: all, 0.2s;
  -moz-transition: all, 0.2s;
  -o-transition: all, 0.2s;
  transition: all, 0.2s;
}
/* line 53, ../sass/_nav.scss */
.nav-list a.current {
  color: #FF8330;
  text-shadow: 0 0 5px rgba(252, 123, 37, 0.9);
  border-bottom: 1px solid #333;
  background: #5f5f5f;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #999999), color-stop(1%, #898989), color-stop(2%, #454545), color-stop(97%, #454545), color-stop(100%, #111111));
  background: -webkit-linear-gradient(top, #999999 0%, #898989 1%, #454545 2%, #454545 97%, #111111 100%);
  background: -moz-linear-gradient(top, #999999 0%, #898989 1%, #454545 2%, #454545 97%, #111111 100%);
  background: -o-linear-gradient(top, #999999 0%, #898989 1%, #454545 2%, #454545 97%, #111111 100%);
  background: linear-gradient(top, #999999 0%, #898989 1%, #454545 2%, #454545 97%, #111111 100%);
}

/* persistant player */
/* line 1, ../sass/_controls.scss */
.controls-container {
  width: 100%;
  height: 60px;
  background: url(/images/layout/player-bg.jpg) #555555;
  position: fixed;
  top: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.7) 0 2px 2px;
  border-bottom: 1px solid #333;
  border-top: 1px solid #999;
  z-index: 110;
}

/* line 13, ../sass/_controls.scss */
.controls {
  width: 960px;
  height: 60px;
  margin: 0 auto;
  display: none;
}
/* line 19, ../sass/_controls.scss */
.controls h2 {
  font-family: arial;
  font-size: 12px;
  color: #fff;
  margin: 8px 0 0 13px;
  text-shadow: 0 0 6px #eee;
}
/* line 28, ../sass/_controls.scss */
.controls .current-time {
  font-family: arial;
  font-size: 12px;
  color: #fff;
}
/* line 34, ../sass/_controls.scss */
.controls .title-container {
  width: 785px;
  float: left;
  margin: 0 0 0 10px;
}
/* line 40, ../sass/_controls.scss */
.controls .tracking-container {
  background: #222;
  height: 25px;
  width: 100%;
  position: relative;
  float: left;
  margin: 4px 0 0 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 1px solid #888;
  border-top: 1px solid #000;
  border-left: 1px solid #444;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* line 56, ../sass/_controls.scss */
.controls .marks-container {
  height: 25px;
  width: 100%;
  position: relative;
}
/* line 61, ../sass/_controls.scss */
.controls .marks-container div {
  left: 0;
}
/* line 66, ../sass/_controls.scss */
.controls .progress-bar {
  height: 25px;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  background: #e87122;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 1px 1px #9e4711;
  -moz-box-shadow: inset 0 0 1px 1px #9e4711;
  box-shadow: inset 0 0 1px 1px #9e4711;
}

/* line 81, ../sass/_controls.scss */
.play-btn {
  font-family: 'icon';
  width: 45px;
  height: 45px;
  float: left;
  cursor: pointer;
  margin: 7px 0 0 10px;
  color: #1A1A1A;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  background: #333;
  /* Old browsers */
  border: 1px solid #222;
  text-shadow: 0 1px #555;
  -webkit-transition: all, 0.2s;
  -moz-transition: all, 0.2s;
  -o-transition: all, 0.2s;
  transition: all, 0.2s;
  -webkit-box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid #777;
}

/* line 104, ../sass/_controls.scss */
.play-btn:hover {
  color: #FF8330;
  text-shadow: 0 0 5px rgba(252, 123, 37, 0.9);
  -webkit-box-shadow: none;
  border-bottom: 1px solid #333;
  background: #5f5f5f;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #999999), color-stop(1%, #898989), color-stop(2%, #454545), color-stop(97%, #454545), color-stop(100%, #111111));
  background: -webkit-linear-gradient(top, #999999 0%, #898989 1%, #454545 2%, #454545 97%, #111111 100%);
  background: -moz-linear-gradient(top, #999999 0%, #898989 1%, #454545 2%, #454545 97%, #111111 100%);
  background: -o-linear-gradient(top, #999999 0%, #898989 1%, #454545 2%, #454545 97%, #111111 100%);
  background: linear-gradient(top, #999999 0%, #898989 1%, #454545 2%, #454545 97%, #111111 100%);
}

/* line 114, ../sass/_controls.scss */
.play-btn:active {
  color: #FF8330;
  background: #404040;
  /* Old browsers */
  -webkit-box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 10px rgba(255, 149, 79, 0.9);
  border: 1px solid #333;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  -webkit-transition: all .2s;
  transition: all .2s;
}

/* Home page featured section */
/* line 1, ../sass/_featured.scss */
.featured-container {
  width: 960px;
  margin: 0 auto;
}

/* line 6, ../sass/_featured.scss */
.player-container {
  width: 960px;
  float: left;
  position: relative;
  margin: 10px 0 0 0;
}
/* line 12, ../sass/_featured.scss */
.player-container .track-container {
  width: 420px;
  height: 250px;
  float: left;
  position: relative;
  overflow: hidden;
}
/* line 20, ../sass/_featured.scss */
.player-container .track-list {
  position: absolute;
}
/* line 23, ../sass/_featured.scss */
.player-container .track-list .track {
  float: left;
  position: relative;
  height: 250px;
  width: 250px;
  cursor: pointer;
  opacity: .7;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
  margin: 0 15px;
}
/* line 33, ../sass/_featured.scss */
.player-container .track-list .track a {
  width: 100%;
  height: 100%;
  float: left;
}
/* line 40, ../sass/_featured.scss */
.player-container .track-list .track:hover {
  opacity: 1;
}
/* line 44, ../sass/_featured.scss */
.player-container .track-list img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}
/* line 52, ../sass/_featured.scss */
.player-container .track-list .track-play-btn {
  border: 15px solid #fff;
  color: #fff;
  font-family: 'icon';
  font-size: 130px;
  position: absolute;
  width: 125px;
  height: 125px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  z-index: 3;
  top: 50%;
  left: 50%;
  margin: -77px 0 0 -77px;
  opacity: .7;
}
/* line 69, ../sass/_featured.scss */
.player-container .track-list .track.selected {
  opacity: 1;
}
/* line 74, ../sass/_featured.scss */
.player-container .track-list .selected:after {
  content: 'Current Track';
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: absolute;
  left: 20px;
  top: 20px;
  text-transform: uppercase;
  font-family: arial;
  padding: 8px 8px 5px 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

/* line 101, ../sass/_featured.scss */
.next {
  font-family: 'icon';
  float: right;
  margin: 20px 2px 15px 10px;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
  background: #222;
  color: #111;
}

/* line 110, ../sass/_featured.scss */
.prev {
  font-family: 'icon';
  float: left;
  margin: 20px 10px 15px 0;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
  background: #222;
  color: #111;
}

/* line 119, ../sass/_featured.scss */
.next:hover, .prev:hover {
  opacity: 1;
}

/* Music page */
/* line 1, ../sass/_music.scss */
.music-container {
  width: 900px;
  margin: 0 auto;
}
/* line 5, ../sass/_music.scss */
.music-container .music-list {
  width: 900px;
  float: left;
}
/* line 9, ../sass/_music.scss */
.music-container .music-list .track {
  float: left;
  position: relative;
  height: 250px;
  width: 250px;
  cursor: pointer;
  opacity: .7;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s;
  margin: 0 5px 10px 5px;
}
/* line 19, ../sass/_music.scss */
.music-container .music-list .track a {
  width: 100%;
  height: 100%;
  float: left;
}
/* line 26, ../sass/_music.scss */
.music-container .music-list .track:hover {
  opacity: 1;
}

/* contact / footer */
/* line 11, ../sass/_footer.scss */
.footer-wrap {
  width: 100%;
  position: fixed;
  background: #333;
  z-index: 900;
  height: 30px;
  bottom: 0;
}

/* line 20, ../sass/_footer.scss */
.footer-top {
  height: 30px;
  width: 100%;
  background: url(/images/layout/player-bg.jpg) #555555;
  position: absolute;
  top: 0;
  border-top: 1px solid #777;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid #333;
}
/* line 30, ../sass/_footer.scss */
.footer-top .contact-btn {
  float: right;
  font-family: arial;
  font-size: 14px;
  color: #fff;
  margin: 7px 13px 0 0;
  text-shadow: 0 0 6px #eee;
}

/* line 41, ../sass/_footer.scss */
.contact-content {
  padding: 40px;
  font-size: 100px;
  color: #fff;
}
