<div class="footer-top">
    <a class="contact-btn" href="#/contact">Contact Me</a>
</div>
<div class="contact-content">
    <div class="contact-column-left">
        <h1>DJ Skitz</h1>
        <h2>Ryan Galuski</h2>
        <a href="mailto:ryangaluski@hotmail.com">ryangaluski@hotmail.com</a>
    </div>
    <div class="contact-column-right">
        <h2>Regular Appearances</h2>
        <ul>
            <li>
                <div class="content-left">
                    <h3 class="day">Fridays</h3>
                    <span>
                        Tommy Doyles : Fridays, 11PM - 2AM    
                    </span><br />
                    <a href="http://tommydoyles.com/locations/harvard-square/" target="_blank">website</a>
                </div>
                
                <a class="bar" href="http://tommydoyles.com/locations/harvard-square/" target="_blank">
                    <img src="/images/content/tis-porter.jpg" alt="" />
                </a>
                
            </li>
            <li>
                <div class="content-left">
                    <h3 class="day">Saturdays</h3>
                    <span>
                        Tavern in the Square : Saturdays, 10PM - 1AM
                    </span><br />
                    <a href="http://www.taverninthesquare.com/porter-square/porter-square" target="_blank">website</a>
                </div>
                <a class="bar" href="http://www.taverninthesquare.com/porter-square/porter-square">
                    <img src="/images/content/tis-porter.jpg" alt="" />
                </a>
                
            </li>
        </ul>
    </div>
</div>