<a href="/" class="logo">s</a>
<a id="playBtn" class="play-btn" href="#" >!</a>
<div class="title-container">
    <h2 class="title"><%= title%></h2>
    <span id="duration">-- : -- / -- : --</span>
    <div class="tracking-container">
        <div id="loadingBar" class="loading-bar">
        	::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
        </div>
        <div id="progressBar" class="progress-bar">
			::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
        </div>
    </div>
</div>
<a id="dlBtn" class="play-btn" href="<%= downloadUrl%>.zip" >)</a>